<div class="common">
  <div class="form-container">
    <h1>Mentee Application Form</h1>
    <p>Hello</p>
    <p>Welcome to the Mentor Matching by TechFace!</p>

    <p>No matter if you are looking to take the next step in you career, are interested to change jobs or industry or need some career advice in general, a mentor can always help you during this transition.</p>
    <p>We are here to help you finding a mentor, who is able to help with your specific situation. To do so, we need some further information about you.</p>

    <p>We are looking forward getting to know you better.</p>

    <p>Your TechFace Team</p>
  </div>
  <%= link_to 'Sign up', new_user_registration_path %>
</div>
