.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner.jpg');
  background-size: cover;
  height: 200px;
  width:636px;
  margin: auto;
  border-radius: 5px;
}
