.form-container {
  width: 590px;
  margin: auto;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 22px;
  margin-top: 12px;
}

.small-container {

}

.application h1 {
  font-family: Arial;
}

.application {

}

.buttons {
  margin: auto;
  width: 590px;
  margin-top: 12px;
}
